<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/menu %>

  <div class="container-fluid bg-3 text-center">
    <h3><%= title %></h3><br>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group text-center">
                <div id="success"></div>
                <a href="/buzContact/new" id="sendMessageButton" class="btn btn-primary btn-rounded btn-xl text-uppercase" type="submit">New Contact</a>
        </div>
      </div>
      <div class="col-sm-8">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th>Name</th>
              <th>Contact Number</th>
              <th>Email</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>

          <tbody>
            <% for(var i = 0; i < buzContacts.length; i++) {%>

            <tr>
              <td><%= buzContacts[i].name %></td>
              <td><%= buzContacts[i].number %></td>
              <td><%= buzContacts[i].email %></td>
              <td><a href="/buzContact/<%= buzContacts[i]._id%>/edit" id="sendMessageButton" class="btn btn-primary btn-rounded btn-xl text-uppercase" type="submit">Edit</a></td>
              <td>
                <form action="/buzContact/<%= buzContacts[i]._id%>/delete" id="sendMessageButton" method="post">
                <button type="submit" class="btn btn-warning btn-rounded btn-xl text-uppercase">Delete</button>
                </form></td>
            </tr>
            <% } %>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</body>
<% include ../partials/script %>

</html>
